{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["jest"],
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb",
    "plugin:jest/all",
    "prettier"
  ],
  "rules": {
    "jest/prefer-expect-assertions": "off",
    "jest/no-identical-title": "off",
    "jest/lowercase-name": "off",
    "import/prefer-default-export": "off",
    "import/no-absolute-path": "off",
    "no-use-before-define": [
      "error",
      { "variables": false, "functions": false }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "": "./src",
          "#": "./__tests__"
        }
      }
    }
  },
  "globals": {
    "context": "readonly",
    "gql": "readonly",
    "query": "readonly",
    "mutate": "readonly"
  },
  "env": {
    "node": true,
    "jest/globals": true
  }
}
