{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["jest", "react"],
  "root": true,
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "airbnb",
    "plugin:jest/all",
    "prettier"
  ],
  "rules": {},
  "globals": {
    "context": "readonly"
  },
  "env": {
    "browser": true,
    "jest/globals": true
  }
}
